#dialog {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dialog>.bgWrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(.2rem);
}

#dialog.hidden {
    display: none;
}

#dialog>.card {
    width: 80vw;
    max-width: 720px;
    height: auto;
    max-height: 100vh;
    margin: 1rem;
    word-break: break-word;
    line-height: 1.5;
}

#dialogContent>canvas,
#dialogContent>img {
    max-width: 80%;
    margin: 1rem auto;
    padding: 1em;
    border-radius: 1em;
    background: #fff;
}