#dialog {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#dialog>.bgWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(.2rem);
    background: rgba(0, 0, 0, .6);
}

#dialog.hidden {
    display: none;
}

#dialog>.card {
    margin: 1rem;
    width: 80vw;
    max-width: 720px;
    height: auto;
    max-height: 100vh;
    line-height: 1.5;
    word-break: break-word;
}

#dialogContent>canvas,
#dialogContent>img {
    margin: 1rem auto;
    border-radius: 1em;
    background: #fff;
    padding: 1em;
    max-width: 80%;
}